.bioAlign{

width: 65%;
text-align: center;
margin-left: 230px;
margin-top: 10px;
letter-spacing: 3px;
line-height: 40px;


}


.bioHeader{


text-align: center;
font-size: 75px;
margin-top: 11px;



}