.joelContact{


margin-left: 185px;
margin-top: 200px;



}

.no-padding{
    padding: 0px !important;
    margin-bottom: 200px;
   }

.joelImg{

    height: 109%;
    width: 499px;

}









.contactTxt{


    margin-left: 0px;
    margin-top: 250px;
    letter-spacing: 3px;






}


.contactHeader{

font-size: 30px;




}


.contactaddy {

margin-top: 30px;


}


